.Adding-Content{
  background-image: linear-gradient( rgba(3, 9, 10, 0.966), rgba(0, 0, 0, 0.5) ), url(https://image.shutterstock.com/image-vector/online-shopping-smartphone-turned-into-260nw-1054924271.jpg);
  padding:10px;
  background-size: cover;
}