<div class="Adding-Content">
  
  <div id="heading">
    <p><i><u>Slim your wallet with this affordable items today!!!!</u></i></p>
  </div>

   <button mat-icon-button color="warn" aria-label="Example icon button with a plus icon">
        <mat-icon name="add"></mat-icon>
    </button>

<p-column field="" header="" [style]="{'text-align':'center'}">
      <ng-template let-row="rowData" pTemplate="body">
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
  </ng-template>
  </p-column>
</div>
