.home-page{
   background-image: linear-gradient( rgba(1, 14, 17, 0.774), rgba(0, 0, 0, 0.5) ), url(https://i.pinimg.com/originals/0f/1a/62/0f1a62b16b9b11a36332839deaaf29d6.jpg);
   background-size: cover;
   padding: 10px;
  
}
table {
  width: 100%;
}