<div class="Rcontent">
  <div id="header">
    <h1>Registration</h1>
  </div>
  
  <div class="register-Form">
     <p> Create your account. it's free and only takes a minute</p>
    <div class="Form">
      <form class="register-form">
        <input matInput placeholder="First Name" value="">
        <input matInput placeholder="Last Name" value="">
        <input matInput placeholder="Email" value="">
        <input matInput placeholder="Enter Password" type="password" value="">
        <input matInput placeholder="Confirm Password" type="password" value="">
        <button mat-flat-button color="secondary" >Create</button>
       
      </form>
    </div>
  </div>
</div>